{% extends 'base.html.twig' %}

{% block title %}New Proprietaire{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Create new Proprietaire</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('proprietaire_index') }}">back to list</a>
{% endblock %}
